/* You can add global styles to this file, and also import other style files */
* {
    font-family: Helvetica;
}

body {
    padding-bottom: 500px;
    background: rgb(174,238,228);
    background: radial-gradient(circle, rgba(174,238,228,1) 0%, rgba(148,187,233,1) 100%); 
    width: 100%;
    height: 100%;
}
.class {
 border-bottom: 1px solid red;
 padding: 2em;
 margin-bottom: 1em;
}